In [2]:
# print("Hello, world")
print("Hi there")

Hello, world
Hi there

In [6]:
print("Hello, world")

Hello, world

In [12]:
# type() function
#
# type: x -> type of x
type(2.443143214321434321432121432141)

float

In [13]:
# bool
#
# boolean type: True or False
type(True)

bool

In [15]:
# bool
#
# operators: not, and, or

not False

True

In [16]:
# and operator
#
# x and y -> True is x and y are True; False otherwise
False and False

False

In [17]:
# or operator
#
# x or y -> True if x or y is True; False otherwise
False or False

False

In [18]:
not (True and False)

True

In [20]:
(not True) or (False and True)

False

In [21]:
not True or False and True

False

In [22]:
# int
#
# integer: whole numbers, ..., -2, -1, 0 , 1, 2, ...

type (-5)

int

In [23]:
# int operators
#
# +, -, *, //, **,  %

In [24]:
#integer addition: +
# x+y

1+1

2

In [25]:
#integer subtraction: 
# x-y

1-1

0

In [26]:
#integer multiplication: 
# x*y

1*1

1

In [32]:
#integer division (whole number division)


# x//y

5//2

2

In [35]:
# integer exponentiation (powers)
#
# x**y

2**10

1024

In [36]:
# modular arithmetic (remainder when you divide X by y)
#
# x % y

10%3

1

In [37]:
# float
#
# floating-point number (1.e. decimal places)

type(3.0)

float

In [40]:
# float operators: +, -, *, //, /, **

5 - 3.0

2.0

In [41]:
5/2

2.5

In [42]:
2 ** 0.5

1.4142135623730951

In [43]:
# variable assignment
#
# x=

x=4

In [44]:
x

4

In [46]:
# equality operator: x, y: bool
#
# ==

x == 4

True

In [47]:
3.0 ==3

True

In [48]:
# str
#
# strings: words, text, characters, ...

type("hi")

str

In [49]:
type('hi')

str

In [50]:
type ('''
hello this is on more
than one line
''')

str

In [53]:
# string operators
#
# +, *

In [54]:
# string concatenation
#
# x + y

"Arturo" + " "+"Araujo"

'Arturo Araujo'

In [61]:
# string multiplication
#
# x * y

7 * "a "

'a a a a a a a '

In [ ]:
# casting - int(), float(), str(), etc.

In [60]:
# f-strings
#
# formatted strings

x = str(7)
"there are " + x + " cats over there"

'there are 7 cats over there'

In [63]:
x=10

In [64]:
f"there are {x} cats over there"

'there are 10 cats over there'

In [66]:
"there are {k} cats over there".format(k=12)

'there are 12 cats over there'

In [69]:
f"""
line 1
line {1+1}
"""

'\nline 1\nline 2\n'

In [73]:
#string methods
#
#"string". method()
#
#e.g. upper(), lower(), isupper(), islower(), startswith(), endswith(), 
#rjust(), ljust(), center(), strip(), rstrip(), lstrip()

"  this is longer  ".strip()

'this is longer'

In [77]:
#raw string 
r"hi \t there"

'hi \\t there'

In [82]:
"He said to me 'hi'"

"He said to me 'hi'"

In [83]:
'He said "hi" to me'

'He said "hi" to me'

In [84]:
r"He said \"hi\" to me"

'He said \\"hi\\" to me'